@{
    ViewBag.Title = "Hangman";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<div class="center">
    <div class="panel">
        <div class="panel-body text-center">
            <h1 class="mb-3" style=" transform: rotate( 2deg);">Hangman</h1>
            <button type="button" onclick="location.href='@Url.Action("NewGame","Hangman")'" class="btn btn-primary btn-lg">Play!</button>
        </div>
    </div>
</div>